<?xml version="1.0" encoding="UTF-8"?>
<Configuration> <!-- status="WARN"  -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%markerSimpleName %-5p %C.%M():%L - %msg %ex{full}%n"/>
        </Console>
        <File name="Log" fileName="logs/test-services.log">
            <PatternLayout>
                <Pattern>%markerSimpleName %-5p %C.%M():%L - %msg %ex{full}%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Log"/>
        </Root>
    </Loggers>
</Configuration>
